.result {
  display: none;
  float: left;
  background-color: white;
  border: 4px solid blue;
  padding: 20px;
  margin-top: 50px;
  margin-left: 300px;
  margin-right: 300px;
}

h1, h3 {
  text-align: center;
  color: blue;
}

body {
  background-color: #ffdacc;
}

.jumbotron {
  background-color: #ff7f50;
}

.form-group {
  width: 400px;
}

.leftSide {
  float: left;
  margin-right: 150px;
}
